/* Breakpoints
 * x-small: <= 576px
 * small: 577px - 767px
 * medium: 768px - 991px
 * large: 992px - 1199px
 * X-large: >= 1200px
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700|Work+Sans:400,700');

html
{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

/* Header Navigation */
header .navbar
{
	background-color: transparent;
	padding: 0.5rem 1rem 0 1rem;
	transition: all .5s ease-out;
}

header .navbar .navbar-nav a
{
	color: white;
}

header .navbar .navbar-nav .active a
{
	background: transparent;
	border-bottom: 4px solid DeepSkyBlue;
	text-shadow: none;
}

/* Navbar Brand */
header .navbar-brand
{
	visibility: hidden;
}

/* floatingNav */
header .navbar.floatingNav
{
	background-color: black;
	visibility: visible;
}

header .navbar.floatingNav .navbar-toggler .navbar-toggler-icon
{
	color: white;
}


header .navbar.floatingNav .navbar-brand
{
	color: white;
	visibility: visible;
}

/* Section */
.section
{
	padding: 0 5rem 5rem 5rem;
}

.sectionHeader
{
	font-size: 2.2em;
	padding: 2em 0 1.5em 0;
}

.content-box
{
	padding: 1em 0 0 0em;
	overflow: auto;
}

.section .content-box p
{
	font-size: 1.2em;
	margin-bottom: 2.5em;
}

/* Title Page */
#home
{
    padding: 0;
	margin: 0;
}

#home img
{
	height: 100%;
	width: 100%;
}

/* About Me */
#about
{
	background-color: #333333;
	max-width: 100%;
	max-height: 100%;
}

#about.section
{
	padding-right: 0;
	padding-bottom: 0;
}

#about .sectionHeader
{
	color: #E5E5E5;
}

#about .content-box
{
	color: #A2A2A2;
}

#about img
{
	height: 100%;
	width: 100%;
}

/* Co-op */
.timestamp
{
	z-index: 1;
	background-color: white;
}

#timeline .line
{
	border-right: 3px solid black;
}

#timeline .timeblock-image-container
{
	margin: 5em 1em;
}

#timeline .timeblock-image-container img
{
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

/* Footer */
footer
{
	background-color: black;
}

footer p
{
	font-size: 0.75em;
	color: white;
}

/* Small and Below */
@media (max-width: 576px)
{
	.section
	{
		padding-left: 2em;
		padding-right: 2em;
	}

	.sectionHeader
	{
		padding: 0.5em 0;
	}

	#about.section
	{
		padding-left: 2em;
		padding-right: 2em;
	}

	#about #about-img-container
	{
		padding: 0 3.5em 3.5em 3.5em;
		height: auto !important;
	}

	#about img
	{
		border-radius: 50%;
	}

	.timestamp
	{
		font-size: 0.8em;
		left: 10%;
		text-align: unset !important;
	}
}

/* Between Small and Medium */
@media (min-width: 577px) and (max-width: 767px)
{
	.section
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	.sectionHeader
	{
		padding: 0.7em 0;
	}

	#about.section
	{
		padding-left: 2em;
		padding-right: 2em;
	}

	#about #about-img-container
	{
		padding: 2em 7em 7em 7em;
		height: auto !important;
	}

	#about img
	{
		border-radius: 50%;
	}
}

/* Between Medium and Large */
@media (min-width: 768px) and (max-width: 991px)
{
	header .navbar
	{
		padding: 0.5rem 2rem 0 2rem;
	}

	.section
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	#about.section
	{
		padding-left: 2em;
		padding-right: 0;
	}

	.sectionHeader
	{
		font-size: 1.7em;
		padding: 0.2em 0 0.4em 0;
	}

	.section .content-box p
	{
		font-size: 1em;
		margin-bottom: 1.5em;
	}
}

/* Between Large and X-large */
@media (min-width: 992px) and (max-width: 1199px)
{
	header .navbar
	{
		padding: 0.5rem 2rem 0 2rem;
	}

	.section
	{
		padding-left: 2em;
		padding-right: 2em;
	}

	.sectionHeader
	{
		font-size: 1.7em;
		padding: 0.4em 0 0.7em 0;
	}

	.section .content-box p
	{
		font-size: 1.1em;
		margin-bottom: 1.8em;
	}
}

/* X-large and Up */
@media (min-width: 1200px)
{
	header .navbar
	{
		padding: 0.5rem 5rem 0 5rem;
	}

	.sectionHeader
	{
		font-size: 2em;
		padding: 0.5em 0 1em 0;
	}

	.section .content-box p
	{
		padding-bottom: 2em;
	}

	.section .content-box p
	{
		font-size: 1.1em;
		margin-bottom: 1.8em;
	}
}

/* XX-Large */
@media (min-width: 1500px)
{
	#about #about-img-container
	{
		padding-left: 15%;
	}
}
