@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700|Work+Sans:400,700');

html
{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

/* Header Navigation */
header .navbar
{
	font-size: 1.2rem;
	padding: 0.5rem 0 0 0;
	transition: all .5s ease-out;
}

header .navbar-default
{
	background-color: transparent;
	border: none;
}

header .navbar-default .navbar-nav a
{
	padding: 0.5em 0.9em;
	color: white;
}

header .navbar-default .navbar-nav a:hover
{
	color: black;
}

header .navbar-default .navbar-nav .active a
{
	background: transparent;
	color: DeepSkyBlue;
	border-bottom: 4px solid DeepSkyBlue;
	text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover
{
	background: transparent;
	color: black;
	text-shadow: none;
}

/* Navbar Brand */
header .navbar-brand
{
	height: auto;
	padding: 0.25em 0;
}

header .navbar-brand h1
{
	visibility: hidden;
	color: white;
}

/* Navbar Toggle */
header .navbar-toggle
{
	background-color: black;
}

header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: dimgray;
}

header .navbar-toggle .icon-bar
{
	background-color: white;
}

@media only screen and (max-width: 768px)
{
	header .navbar-collapse.in
	{
		background-color: rgba(0, 0, 0, 1);
	}
}

/* Nav: floatingNav */

header .floatingNav
{
	background: rgba(0, 0, 0, 0.8);
}

header .navbar.floatingNav
{
}

header .navbar.floatingNav .navbar-nav
{
	padding-top: 0;
}

header .navbar.floatingNav .navbar-nav a
{
	color: white;
}

header .navbar.floatingNav .navbar-nav a:hover
{
	color: DeepSkyBlue;
}

header .floatingNav .navbar-brand h1
{
	visibility: visible;
	color: white;
	font-size: 1.4em;
}

/* Section */
.section
{
	padding: 5rem 0;
}

.section h2
{
	text-align: center;
	padding-bottom: 1em;
}

/* Jumbotron */
.jumbotron
{
	font-size: 2.5rem;
	position: absolute;
	color: white;
	background-color: transparent;
}

/* Info - Paragraphs */
.info
{
	font-family: "Work Sans", sans-serif;
	font-size: 1rem;
}

/* Title Page */
#home
{
    padding: 0;
	margin: 0;
}

#home img
{
	width: 100%;
	height: 100%;
}

/* Section: About */
#about
{
	background-color: #66c2ff;
}

#about img
{
	max-height: 400px;
	max-width: 400px;
	width: 100%;
	height: 100%;
}

/* Section: Co-op */
#coop
{
	background-image: url("../images/sheridan.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#coop h2
{
	color: black;
	text-shadow: 0.5px 0.5px;
}

#coop .panel-heading
{
	background-color: #33adff;
	padding: 0.8rem 0 0.8rem 1rem;
}

#coop .panel-heading a
{
	color: black;
	font-family: "Work Sans", sans-serif;
	font-size: 1.1em;
}

#coop .panel-heading a:hover
{
	cursor: pointer
}

#coop .panel-body
{
	background-color: #ccebff;
	font-size: 0.9em;
}

/* Section: Projects */
.projects
{
	text-align: center;
}

#projects
{
	height: auto;
	background-color: black;
}

#projects img.icon
{
	display: block;
	width: 80px;
	margin: 0 auto;
}

#projects h2
{
	color: white;
}

#projects p
{
	color: white;
}

@media only screen and (min-width: 450px) and (max-width: 768px)
{
	.projects p
	{
		padding: 0 20%;
	}
}

/* Section: Resume */
#resume
{
	height: auto;
	background-color: white;
}

/* Section: Contact */
#contact
{
	height: auto;
	background-color: #3399ff;
}

#contact #footerBtns
{
	margin: 5rem 0;
}

/* Font-Awesome Buttons */
.fa
{
	display: inline !important;
	width: 50px;
	height: 50px;
	padding: 1.5rem;
  	text-decoration: none;
  	border-radius: 100%;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-linkedin
{
  	background: #007bb5;
  	color: white;
}

.fa-github
{
  	background: black;
  	color: white;
}

.fa-envelope
{
	background: red;
	color: black;
}

/* Footer */
footer
{
	background-color: black;
}

footer p
{
	font-size: 0.75em;
	color: white;
}
